<?php

$config = [
    'default_email' => 'bwicksall@owwl.org',
    'primary_email' => 'bwicksall@owwl.org',
    'evergreen_email' => 'webmaster@owwl.org',
    'overdrive_email' => 'test@owwl.org',
    'reference_email' => 'test@owwl.org',
    'gpldirector_email' => 'test@owwl.org',
    'cataloging_email' => 'test@owwl.org',
    'originalcataloging_email' => 'test@owwl.org',
    'reports_email' => 'test@owwl.org',
    'libraries' => [
        'ALLENSHILL' => 'Allens Hill Free Library',
        'ARCADE' => 'Arcade Free Library',
        'AVON' => 'Avon Free Library',
        'NUNDA' => 'Bell Memorial Library-Nunda',
        'BLOOMFIELD' => 'Bloomfield Public Library',
        'BRISTOL' => 'Bristol Library',
        'CALEDONIA' => 'Caledonia Library',
        'CLIFTON' => 'Clifton Springs Library',
        'CLYDE' => 'Clyde-Savannah Public Library',
        'CASTILE' => 'Cordelia A. Greene-Castile',
        'DANSVILLE' => 'Dansville Public Library',
        'BLISS' => 'Eagle Free Library-Bliss',
        'SILVERSPR' => 'Gainesville Library-Silver Springs',
        'GENEVA' => 'Geneva Public Library',
        'GORHAM' => 'Gorham Free Library',
        'HONEOYE' => 'Honeoye Public LIbrary',
        'LIMA' => 'Lima Public Library',
        'LIVONIA' => 'Livonia Public Library',
        'LYONS' => 'Lyons Public Library',
        'MACEDON' => 'Macedon Public Library',
        'MARION' => 'Marion Public Library',
        'MTMORRIS' => 'Mount Morris Public Library',
        'NAPLES' => 'Naples Library',
        'NEWARK' => 'Newark Public Library',
        'ONTARIO' => 'Ontario Public Library',
        'OWWLHQ' => 'OWWL Library System HQ',
        'PALMYRA' => 'Palmyra Community Library',
        'PERRY' => 'Perry Public Library',
        'PHELPS' => 'Phelps Community Library',
        'PIKE' => 'Pike Library',
        'REDCREEK' => 'Red Creek Free Library',
        'REDJACKET' => 'Red Jacket Library-Shortsville',
        'ROSE' => 'Rose Free Library',
        'SODUS' => 'Sodus Community Library',
        'ATTICA' => 'Stevens Library-Attica',
        'VICTOR' => 'Victor Farmington Library',
        'GENESEO' => 'Wadsworth Library-Geneseo',
        'WALWORTH' => 'Walworth-Seely Public Library',
        'WARSAW' => 'Warsaw Public Library',
        'WILLIAMSON' => 'Williamson Library',
        'WOLCOTT' => 'Wolcott Civic Free Library',
        'CANANDAIGU' => 'Wood Library-Canandaigua',
        'WYOMING' => 'Wyoming Free Library',
    ],
    'listservs' => [
        'YSL-L',
        'Holdings',
    ],
    'evergreen_account_types' => [
        'Basic (No Circ)',
        'Circ I',
        'Circ II',
    ],
    'allowed_email_domains' => [
        'owwl.org',
    ],
    'otp_ttl_seconds' => 600,
];
