<?php

$config = [
    'default_email' => 'someone@example.com',
    'primary_email' => 'someone@example.com',
    'evergreen_email' => 'someone@example.com',
    'overdrive_email' => 'someone@example.com',
    'reference_email' => 'someone@example.com',
    'gpldirector_email' => 'someone@example.com',
    'cataloging_email' => 'someone@example.com',
    'originalcataloging_email' => 'someone@example.com',
    'reports_email' => 'someone@example.com',
    'delivery_email' => 'someone@example.com',
    'admin_email' => 'someone@example.com',
    'libraries' => [
        'TEST1' => 'Test Library 1',
        'TEST2' => 'Test Library 2',
    ],
    'listservs' => [
        'YSL-L',
        'Holdings',
    ],
    'evergreen_account_types' => [
        'Basic (No Circ)',
        'Circ I',
        'Circ II',
    ],
    'allowed_email_domains' => [
        'owwl.org',
    ],
    'otp_ttl_seconds' => 600,
];
